<form #addDoctor="ngForm" (ngSubmit)="onSubmit(addDoctor)"> 
    <div class="input-group">
        <span class="input-group-text col-2">Doctor Name</span>
        <input type="text" class="form-control" name="doctorName" ngModel>
      </div><br>

      <div class="input-group">
        <span class="input-group-text col-2">Doctor Age</span>
        <input type="text" class="form-control" name="doctorAge" ngModel>
      </div><br>

      <div class="input-group">
        <span class="input-group-text col-2">Gender</span>
        <input type="text" class="form-control" name="doctorGender" ngModel>
      </div><br>

      <div class="input-group">
        <span class="input-group-text col-2">Specialised Field</span>
        <input type="text" class="form-control" name="specialistField" ngModel>
      </div><br>
      <div class="text-center">
        <input type="submit" class="btn btn-success ">
      </div>
</form>
