<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Patients System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/doctors">Doctors Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patients">Patients Info</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/addDoctor">Add Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addPatient">Add Patient</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid col-8">
<br><br>
<div class="container-fluid">

  <router-outlet></router-outlet>
</div>
    
</div>
