<h2 class="display-6">Doctors Info</h2>
<table class="table  table-striped ">
    <thead class="table-light">
      <tr>
        <th scope="col">Doctor ID</th>
        <th scope="col">Name</th>
        <th scope="col">Specialist Field</th>
        <th scope="col">Patient Visited</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of doctors">
        <th scope="row">{{d.doctorId}}</th>
        <td>{{d.doctorName}} </td>
        <td>{{d.specialistField}} </td>
        <td>{{d.patientAtteneded}} </td>
    </tr>
    </tbody>
</table>
